<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GuideListFormatter.Properties.FormatOptions" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GuideListFormatter.FormatOptions" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GuideListFormatter.Properties.ClassOptions" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GuideListFormatter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <GuideListFormatter.Properties.FormatOptions>
            <setting name="classBrackets" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="classBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="classItalics" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="classUnderline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="classColour" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="abilityBrackets" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abilityBold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="abilityItalics" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abilityUnderline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abilityColour" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="spaceBetween" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="freeBrackets" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="freeBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="freeItalics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="freeUnderline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="freeColour" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="optionBrackets" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="optionBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="optionItalics" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="optionUnderline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="optionColour" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="versionBrackets" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="versionBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="versionItalics" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="versionUnderline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="versionColour" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="freeColourCode" serializeAs="String">
                <value>#80ff80</value>
            </setting>
            <setting name="abilityColourCode" serializeAs="String">
                <value>#00ffff</value>
            </setting>
            <setting name="dashURL" serializeAs="String">
                <value>True</value>
            </setting>
        </GuideListFormatter.Properties.FormatOptions>
        <GuideListFormatter.FormatOptions>
            <setting name="Brackets" serializeAs="String">
                <value>True</value>
            </setting>
        </GuideListFormatter.FormatOptions>
        <GuideListFormatter.Properties.ClassOptions>
            <setting name="HierophantName" serializeAs="String">
                <value>Hie</value>
            </setting>
            <setting name="InquisitorName" serializeAs="String">
                <value>Inq</value>
            </setting>
            <setting name="GuardianName" serializeAs="String">
                <value>Gua</value>
            </setting>
            <setting name="SlayerName" serializeAs="String">
                <value>SL</value>
            </setting>
            <setting name="GladiatorName" serializeAs="String">
                <value>GL</value>
            </setting>
            <setting name="ChampionName" serializeAs="String">
                <value>CH</value>
            </setting>
            <setting name="JuggernautName" serializeAs="String">
                <value>J</value>
            </setting>
            <setting name="ChieftainName" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="BerserkerName" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="RaiderName" serializeAs="String">
                <value>Raid</value>
            </setting>
            <setting name="PathfinderName" serializeAs="String">
                <value>PF</value>
            </setting>
            <setting name="DeadeyeName" serializeAs="String">
                <value>Dead</value>
            </setting>
            <setting name="TricksterName" serializeAs="String">
                <value>Trickster</value>
            </setting>
            <setting name="AssassinName" serializeAs="String">
                <value>Assassin</value>
            </setting>
            <setting name="SaboteurName" serializeAs="String">
                <value>Saboteur</value>
            </setting>
            <setting name="OccultistName" serializeAs="String">
                <value>OCC</value>
            </setting>
            <setting name="ElementalistName" serializeAs="String">
                <value>ELE</value>
            </setting>
            <setting name="NecromancerName" serializeAs="String">
                <value>NEC</value>
            </setting>
        </GuideListFormatter.Properties.ClassOptions>
        <GuideListFormatter.Properties.Settings>
            <setting name="PreviousClass" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentVersion" serializeAs="String">
                <value>3.6</value>
            </setting>
            <setting name="Class1Colour" serializeAs="String">
                <value>#800040</value>
            </setting>
            <setting name="Class2Colour" serializeAs="String">
                <value>#0080ff</value>
            </setting>
            <setting name="Class3Colour" serializeAs="String">
                <value>#00dd00</value>
            </setting>
            <setting name="CurrentVersionHighlight" serializeAs="String">
                <value>#ff8040</value>
            </setting>
            <setting name="hcColour" serializeAs="String">
                <value>#ff0000</value>
            </setting>
            <setting name="ssfColour" serializeAs="String">
                <value>#8080ff</value>
            </setting>
            <setting name="lsColour" serializeAs="String">
                <value>#ff80ff</value>
            </setting>
        </GuideListFormatter.Properties.Settings>
    </userSettings>
</configuration>